.container {
  width: 80%;
  margin: 0 auto;
    &.fluid {
      width: 100%;
      margin: 0 auto;
      padding: 0 10%;
    }
    &.black {
      background-color: $background-navbar-color;
    }
    &.gray {
      background-color: $color-footer-navbar;
    }
}

.txt-center {
  text-align: center;
}

//Padding

.pad-15{
  padding: 15px;
}

.pad-20 {
  padding: 20px;
}

//Padding top e bottom
.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

//Padding left e right
.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

//Padding right
.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

//Padding bottom
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}
.pb-100 {
  padding-bottom: 100px;
}

//Padding top
.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

//Margin left-right
.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

//Margin right
.mr-10 {
  margin-right: 10px;
}

//Margin left
.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}
