.container {
  width: 80%;
  margin: 0 auto;
    &.fluid {
      width: 100%;
      margin: 0 auto;
      padding: 0 10%;
    }
    &.black {
      background-color: $background-navbar-color;
    }
}

//Padding top e bottom
.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

//Padding left e right
.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

//Padding right
.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}
