//First section
#jumbo {
  .jumbo {
    .container {
      .content-jumbo{
        img {
          width: 25%;
        }
        p {
          color: $text-color;
          &.offerta {
            font-size: 13px;
            color: rgb(192, 31, 160);
            &.bold {
              font-weight: 700;
              font-style: italic;
            }
            &.italic {
              font-style: italic;
              font-size: 12px;
              font-weight: 300;
            }
          }
        }
        .button-content-jumbo {
          button {
            text-transform: uppercase;
            padding: 10px 20px;
            border: 1px solid black;
            &.black {
              background-color: $color-black;
              color: $color-white;
            }
            &.transparent {
              background-color: transparent;
              color: $color-black;
            }
          }
        }
      }
    }
  }
}
//Second section
#value{
  &.gray{
    background-color: $background-main-color;
  }
  .container {
    .value {
      .content-value {
        .text-value {
          h3 {
            font-size: 25px;
            font-weight: 300;
          }
        }
        .card-value {
          @include flex-space-between;
          .content-card-value {
            width: calc(100% / 3 - 10px);
            .content-card{
              background-color: $color-white;
              img {
                width: 100%;
              }
              .text-content-card {
                h4 {
                  font-size: 14px;
                  span {
                    text-transform: uppercase;
                    color: $color-celeste;
                    font-style: italic;
                  }
                }
                p {
                  color: $text-color-footer;
                  font-weight: 300;
                  font-size: 12px;
                  a {
                    text-decoration: none;
                    color: $color-celeste;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      .value {
        .content-value {
          .card-value {
            flex-wrap: wrap;
            .content-card-value {
              width: 100%;

            }
          }
        }
      }
    }

  }
}
//Third section
#educational {
  &.gray{
    background-color: $background-main-color;
  }
  .container {
    .educational {
      .content-educational {
        @include flex-center;
        .text-educational {
          @include flex-start-column-center;
          height: 300px;
          width: 50%;
          color: $color-white;
          &.purple {
            background-color: $color-purple;
          }
          &.gray {
            background-color: $color-gray;
          }
          &.celeste {
            background-color: $color-celeste;
          }
          h3 {
            font-size: 22px;
            font-weight: 400;
          }
          p {
            font-size: 14px;
            line-height: 25px;
            font-weight: 300;
          }
          button {
            text-transform: uppercase;
            padding: 10px 20px;
            &.purple {
              color: $color-purple;
              border: 1px solid $color-purple;
            }
            &.gray {
              color: $color-gray;
              border: 1px solid $color-gray;
            }
            &.celeste {
              color: $color-celeste;
              border: 1px solid $color-celeste;
            }
          }
        }
        .photo-educational {
          height: 300px;
          width: 50%;
          position: relative;
          img {
            width: 100%;
            &.hover {
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              left: 0;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
