//First section
#jumbo {
  .jumbo {
    background-image: url('../img/bg-painter-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .container {
      .content-jumbo{
        img {
          width: 25%;
          &.desktop {
            display: block;
          }
          &.mobile {
            display: none;
          }
        }
        p {
          color: $text-color;
          &.offerta {
            font-size: 13px;
            color: rgb(192, 31, 160);
            &.bold {
              font-weight: 700;
              font-style: italic;
            }
            &.italic {
              font-style: italic;
              font-size: 12px;
              font-weight: 300;
            }
            &.desktop {
              display: block;
            }
            &.mobile {
              display: none;
            }
          }
        }
        .button-content-jumbo {
          padding-bottom: 80px;
          button {
            text-transform: uppercase;
            padding: 10px 20px;
            border: 1px solid black;
            &.full {
              background-color: $color-black;
              color: $color-white;
            }
            &.transparent {
              background-color: transparent;
              color: $color-black;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #jumbo {
    &.overlay {
      background-color: red;
    }
    .jumbo {
      background-position: right;
      .container {
        &.fluid {
          &.overlay {
            background-color: rgba(0, 0, 0, 0.8);
          }
        }
        .content-jumbo {
          text-align: center;
          img {
            &.desktop {
              display: none;
            }
            &.mobile {
              width: 50%;
              display: block;
              margin: 0 auto;
            }
          }
          p {
            color: $color-white;
            &.offerta {
              color: $color-white;
              &.desktop {
                display: none;
              }
            }

          }
          .button-content-jumbo {
            padding-bottom: 20px;
            button {
              &.full {
                background-color: $color-white;
                color: $color-black;
                border: 0;
              }
              &.transparent {
                display: none;
              }
            }
          }
          p {
            &.offerta {
              &.mobile {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
//Second section
#value{
  &.gray{
    background-color: $background-main-color;
  }
  .container {
    .value {
      .content-value {
        .text-value {
          h3 {
            font-size: 25px;
            font-weight: 300;
          }
        }
        .card-value {
          padding-bottom: 70px;
          @include flex-space-between;
          .content-card-value {
            width: calc(100% / 3 - 10px);
            .content-card{
              background-color: $color-white;
              img {
                width: 100%;
              }
              .text-content-card {
                h4 {
                  font-size: 14px;
                  span {
                    text-transform: uppercase;
                    color: $color-celeste;
                    font-style: italic;
                  }
                }
                p {
                  color: $text-color-footer;
                  font-weight: 300;
                  font-size: 12px;
                  a {
                    text-decoration: none;
                    color: $color-celeste;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      .value {
        .content-value {
          .text-value {
            h3 {
              font-size: 20px;
            }
          }
          .card-value {
            padding-bottom: 20px;
            flex-wrap: wrap;
            .content-card-value {
              width: 100%;
              padding-bottom: 25px;
            }
          }
        }
      }
    }

  }
}
//Third section
#educational {
  padding-bottom: 60px;
  &.gray{
    background-color: $background-main-color;
  }
  .container {
    .educational {
      .content-educational {
        @include flex-center;
        .text-educational {
          @include flex-start-column-center;
          height: 300px;
          width: 50%;
          color: $color-white;
          &.purple {
            background-color: $color-purple;
          }
          &.gray {
            background-color: $color-gray;
          }
          &.celeste {
            background-color: $color-celeste;
          }
          h3 {
            font-size: 22px;
            font-weight: 400;
          }
          p {
            font-size: 14px;
            line-height: 25px;
            font-weight: 300;
          }
          button {
            text-transform: uppercase;
            padding: 10px 20px;
            &.purple {
              color: $color-purple;
              border: 1px solid $color-purple;
            }
            &.gray {
              color: $color-gray;
              border: 1px solid $color-gray;
            }
            &.celeste {
              color: $color-celeste;
              border: 1px solid $color-celeste;
            }
          }
        }
        .photo-educational {
          height: 300px;
          width: 50%;
          position: relative;
          img {
            width: 100%;
            &.hover {
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              left: 0;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #educational {
    padding-bottom: 20px;
    .container {
      &.fluid-all {
        width: 100%;
        margin: 0 auto;
      }
      .educational {
        .content-educational {
          flex-wrap: wrap;
          flex-direction: column-reverse;
          &.column {
            flex-direction: column;
          }
          .text-educational {
            width: 100%;
          }
          .photo-educational {
            width: 100%;
          }
        }
      }
    }
  }
}
