.navbar {
  .option-navbar {
    .content-option-navbar{
      ul {
        @include flex-end;
        list-style: none;
        li{
          @include flex-center;
          color: $text-icon-color;
          i {
            color: $icon-color;
          }
        }
      }
    }
  }
  .menu-navbar {
    .content-menu-navbar{
      ul {
        @include flex-start;
        li {
          a {
            text-decoration: none;
            color: $text-menu-color;
            font-size: 12px;
            &.drop:after {
              @include arrow-dropdown;
            }
          }
        }
      }

    }
  }

}
