.navbar {
  .option-navbar {
    .content-option-navbar{
      ul {
        @include flex-end;
        list-style: none;
        li{
          @include flex-center;
          color: $text-icon-color;
          font-size: 12px;
          i {
            color: $icon-color;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .option-navbar {
      display: none;
    }
  }
  .menu-navbar {
    .content-menu-navbar{
      i {
        display: none;
      }
      ul {
        @include flex-start;
        li {
          img {
            width: 80px;
          }
          a {
            text-decoration: none;
            color: $color-white;
            font-size: 11px;
            &.drop:after {
              @include arrow-dropdown;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .menu-navbar {
      .content-menu-navbar {
        position: relative;
        i {
          color: $color-white;
          display: inline;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
        ul {
          @include flex-center;
          li {
            display: none;
            &:first-child {
              display: block;
            }
          }
        }
      }
    }
  }
}
