.navbar {
  .option-navbar {
    .content-option-navbar{
      ul {
        @include flex-end;
        list-style: none;
        li{
          color: $text-icon-color;
          i {
            color: $icon-color;
          }
        }
      }




    }
  }
  .content-option-navbar{

  }
}
