$icon-color: rgb(16, 135, 255);
$background-navbar-color: rgb(14, 14, 14);
$text-icon-color: rgb(172, 172, 172);
$text-menu-color: rgb(208, 208, 208);
$text-color: rgb(0, 0, 0);
$text-color-footer: #4d4d4d;
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$background-main-color: rgb(226, 226, 226);
$color-celeste: rgb(51, 151, 255);
$color-purple: rgb(45, 9, 84);
$color-gray: rgb(46, 46, 46);
$color-footer-navbar: #1e1e1e;
$background-footer-color: rgb(231, 231, 231);
