* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar .option-navbar .content-option-navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.navbar .option-navbar .content-option-navbar ul li i {
  color: #1087ff;
}
