* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container.fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}
.container.black {
  background-color: #0e0e0e;
}

.ptb-5 {
  padding: 5px;
}

.ptb-10 {
  padding: 10px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pr-10 {
  padding-right: 10px;
}

.navbar .option-navbar .content-option-navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.navbar .option-navbar .content-option-navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #acacac;
}
.navbar .option-navbar .content-option-navbar ul li i {
  color: #1087ff;
}
